:root {
    --my-background: #f9f5e5;
    --hobo-white: #fefefa;
    --brackgray: #4a4a56;
    --gray: #ccc;
    --gray2: #eee;
    --link-blue: #004ad2;
    --link-red:  #b22222;
    --button-hover:  #ddd;
    --nav-height: 50px;
    --header-height: 50px;
    --contents-width-s: 48em;
    --contents-width-m: 54em;
    --contents-width-l: 55em;
    --font-sans-serif: -apple-system,Helvetica Neue,'Hiragino Kaku Gothic ProN','Noto Sans CJK JP',Meiryo,sans-serif;
    --font-serif: 'Hiragino Mincho ProN', 'Noto Serif CJK JP',serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Hiragino Kaku Gothic ProN',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--hobo-white);
    display: flex;
    flex-flow: column;
    min-height: 120vh;
}
.sp-none {
    display: none;
}
a {
    color: var(--link-blue);
}
a:hover {
    color: var(--link-red);
}
p {
    font-size: 17px;
}
h1 {
    font-size: 22px;
}
#page-title {
    margin: 0;
    padding: 20px 0;
}
h2 {
    font-size: 20px;
}
h1, h2, h3, h4, h5 ,h6 {
    font-family: sans-serif;
}

.hi-people {
    height: 50vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: 2s fadeIn 2s forwards; 
}

code {
    font-family: Monaco, source-code-pro, Menlo,  Consolas, 'Courier New',
    monospace;
}
.center {
    text-align: center;
}
.red {
    color: #f00;
}
#nav {
    flex: 1;
    display: flex;
    height: var(--nav-height);
    padding: 0;
    align-items: center;
    overflow: auto;
    background: #555;
}
#virtual-nav {
    display: flex;
    height: var(--nav-height);
    padding: 0;
    align-items: center;
    overflow: auto;
    background: #555;
}
#nav-left {
    display: flex;
    align-items: center;
}
#nav-right {
    margin: 0 0 0 auto;
    font-size: .7em;
    align-items: center;
}
.nav-item-link {
    display: flex;
    align-items: center;
    height: var(--nav-height);
    padding: 0 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.edit-new {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px 10px 15px;
    height: 40px;
    width: 40px;
    z-index: 1;
}
.create-new-link {
    display: flex;
    padding: 0;
    color: #fff;
    /* background: green; */
    opacity: .8;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.login-button {
    margin: 0 10px;
    padding: 5px;
    background: #eee;
}
#header {
    position: relative;
    display: flex;
    min-height: var(--header-height);
    padding: 0 10px;
}
.header-item {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}
.nav-project-name {
    padding: 0;
    margin: 0 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#wrapper {
    width: 100%;
    /* min-height: calc(100vh - var(--nav-height)); */
    margin: 0 auto;
    padding: 0 0 50px;
    text-align: left;
    /* min-height: 101vh; */
}
 /* main */
main {
    padding: 0 10px;
    background: var(--hobo-white);
}    

.fixed-content {
    padding: 0 10px;
}

.main-contents {
    margin: 30px auto 20px;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
/* main editor */
.editable-box {
    display: block;
}
.editable {
    margin: 0 auto 20px;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.editable-option {
    position: relative;
    display: flex;
    margin: 20px 0 0;
}

/* footer */
#footer {
    padding: 5px;
}
.info {
    margin: 0 10px;
    text-align: center;
}
.update-info {
    margin: 0 10px;
    min-height: 24px;
}
.info-nocontent {
    margin: 0 10px;
}
button {
    border: solid 1px #aaa;
    border-radius: 3px;
}
button:hover {
    cursor: pointer;
}
.button-save-box {
    position: absolute;
    top: 20px;
    right: 0;
    height: var(--header-height);
    padding: 0 10px 0 0;
}
.save_isNotActive,
.save_isActive {
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 3px;
    color: #efefef;
    background: var(--link-blue);
    opacity: .9;
    font-size: 18px;
    font-weight: bold;
}
.save_isNotActive {
    opacity: .4;
}
.save_isActive:hover {
    cursor: pointer;
}
.item-block {
    margin: 20px 0;
}
.related-contents {
    margin: 20px 0;
    padding: 0 10px;
}
.related-heading {
    display: flex;
    align-items: center;
    margin: 0 -1px
}
.related-heading-link {
    display: block;
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    text-decoration: none;
}
.related-heading-link::before {
    content: '#';
    font-size: 16px;
    color: #444;
    margin: 0 5px;
}
.related-heading-link:hover {
    background: #eee;
    /* padding-left: 5px;  */
}
.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.item-arrow,
.item {
    display: flex;
}
.item-arrow::before {
    content: '└';
    font-size: 19px;
    font-family: system-ui;
    font-weight: bold;
    color: #666;
    padding: 3px 0 0;
}
.item-link {
    display: block;
    text-decoration: none;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.item-link:hover {
    background: #eee;
    /* padding-left: 10px;  */
}
.item-title {
    font-weight: bold; 
    font-size: 15px;
}
.item-dscr {
    font-size: 13px;
    color: #555;
    min-height: 1em;
}
.content-title {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    line-height: 1.7;
    white-space: pre-wrap;
}
.content-tags {
    position: relative;
    padding: 5px 5px 5px 11px;
    box-sizing: border-box;
    line-height: 1.5;
    white-space: pre-wrap;
}
.content-tags::before {
    position: absolute;
    content: '[';
    left: 3px;
}
.content-tags::after {
    content: ']';
    margin: 0 0 0 3px;
}
.content-body-new,
.content-body {
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    white-space: pre-wrap;
    font-family: sans-serif;
}
.content-body-new {
    min-height: 30vh;
}
.content-title:focus,
.content-tags:focus,
.content-body:focus,
.content-body-new:focus {
    outline: 1px solid #eee;
}
.tags {
    margin: 0 10px 0 0;
}
/* content image */
.img-block {
    margin: 5px 0;
    position: relative;
}
/* label */
.for-upload-image-icon {
    position: relative;
    display: flex; 
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.8;
    margin: 0 10px 0 0;
    color: var(--link-blue);
    font-weight: bold;
    width: 28;
    height: 28;
}
.for-upload-image-icon:hover {
    cursor: pointer;
}
.for-upload-image-text {
    font-size: 18px;
    margin: 0 0 0 10px;
}
#upload-image {
    display: none;
}
#img-preview-box {
    position: relative;
}
#content-img,
#preview {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 0 5px;
}
.upload-img-filename {
    margin: 0 0 0 10px;
}
.delete-img-button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-size: 18px;
    opacity: .8;
}
.delete-img-button:hover {
    opacity: .5;
    cursor: pointer;
}
.content-image {
    display: block;
    max-width: 100%;
}
.message {
    margin: 0 10px 0 0;
    color: green; 
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
.toast-update {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
    font-weight: bold;
    opacity: 1;
    animation: .5s fadeOut 3.5s linear forwards; 
    /* time action delay type */
}
.toast-contents {
    border: 2px solid #aaa;
    border-radius: 5px;
    background: #fff;
    color: green; 
    padding: 10px;
}
.toast-line1 {
    font-size: 16px;
}
.toast-line2 {
    font-size: 13px;
}
.toast-saved {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    color: green;
    font-weight: bold;
    opacity: 1;
    animation: .5s fadeOut 3s linear forwards;
}

.list-nav-selector {
    display: flex;
    align-items: center;
    width: 100%;
}
.list-nav-item-current,
.list-nav-item {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 10px;
    max-width: 50%;
    justify-content: center;
}
.list-nav-item-current {
    opacity: 0.3;
}

.hidden {
    display: none;
}
@keyframes fadeIn { /*animation-nameで設定した値を書く*/
  0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  100% {opacity: 1} /*アニメーション終了時は不透明度100%*/

}
@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}
@keyframes fadeInOut {
  10% {opacity: 1}
}
.spinner {
  width: 32px;
  height: 32px;
  margin: 30px auto;
  border: 4px #ddd solid;
  border-top: 4px #555 solid;
  border-radius: 50%;
  -webkit-animation: sp-anime 1.0s infinite linear;
  animation: sp-anime 1.0s infinite linear;
}

@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}

.top-heading {
    margin: 20px 0 10px;
}

.project-list {
   padding: 0; 
   margin: 10px 0;
   list-style-type: none;
}
.project-item {
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 1px #ccc;
}
.project-link {
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.project-link::before {
    content: '▶';
    margin: 0 5px 0 0;
    font-size: .5rem;
}
.project-link:hover {
    cursor: pointer;
    background: #eee;
}
.project-manager-h2 {
    font-size: 20px;
    margin: 20px 0;
}
.button-delete-project {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    color: var(--link-red);
    font-weight: bold;
}
.button-delete-project:hover {
    background: #eee;
    cursor: pointer;
}

[contentEditable=true]:empty:not(:focus)::before {
    content:attr(data-text);
    color: #bbb;
    font-family: sans-serif;
}
[contentEditable=true]:empty:not(:focus)::after {
    content:none;
}

table {
    border-collapse: collapse;
}

.edit-list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.edit-list-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}
.edit-td {
}
.edit-item-link {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 5px 5px 5px 10px;
}
.edit-item-link:hover {
    background: #eee;
}

/* edit-list tag */
.edit-item-link-tag {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 10px 5px;
}
.edit-item-link-tag:hover {
    background: #eee;
}
.edit-list-tag-title {
    font-weight: bold;
}
.edit-list-tag-number {
    margin: 0 0 0 10px;
}

.edit-delete {
    display: flex;
    align-items: center;
}
.edit-delete:hover {
    background: #eee;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f00; 
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
    border: 0;
    background: inherit;
}
.delete-button:hover {
   cursor: pointer; 
}
.trash-icon {
    display: flex;
    align-items: center;
    margin: 0 10px
}
.content-edit-trash-icon:hover,
.trash-icon:hover {
   cursor: pointer; 
}
.content-edit-trash-icon {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.user-home { /*main*/
    padding: 0;
}
.user-home-header {
    padding: 0 10px;
}
.projects-block {
    padding: 0 10px;
}

.create-project-input {
    padding: 5px 0;
    margin: 0 5px 0 0;
    font-size: 18px;
}

.create-project-button {
    padding: 5px;
    font-size: 18px;
}

/* image editor */
#image-selector-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-selector-contents {
    position: relative;
    width: 100%;
    height: 90%;
    padding: 10px;
    background: #fff;
    z-index: 3;
    overflow-y: scroll;
}
.image-selector-button-open {
    display: inline-block;
    border: solid 2px #ccc;
    line-height: 1.8;
    padding: 3px 5px; 
    color: var(--link-blue);
    font-weight: bold;
}
.image-selector-button-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    border: solid 2px #ccc;
    padding: 3px 5px; 
    margin: 10px;
    color: var(--link-red);
    font-weight: bold;
}
.image-selector-button-open:hover,
.image-selector-button-close:hover {
    cursor: pointer;
    background: var(--button-hover);
}
.image-selector-icon {
    display: flex;
    align-items: center;
}
.image-selector-icon:hover {
    cursor: pointer;
    position: relative;
}

.for-upload-image-icon:hover:after,
.image-selector-icon:hover:after {
    position: absolute;
    content: attr(data-tooltip);
    top: 50px;
    left: 0;
    background: #fefefe;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 15px;
    color: #333;
    line-height: 1.3;
    min-width: 10em;
    text-align: center;
    white-space: pre-wrap;
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    padding: 0;
    margin: 0;
    gap: 5px;
}
.image-list-item {
    display: block;
}
.image-item-box {
    width: auto;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
}
.image-item-box:hover {
    opacity: 0.8;
    cursor: pointer;
}
.image-item {
    display: block;
    width: 100%;
    height: auto;
}
.image-list-menu {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.image-list-menu-button-delete {
    width: 100%;
    text-align: center;
    color: var(--link-red);
    font-weight: bold;
}
.image-list-menu-button-delete:hover {
    background: #eee;
    cursor: pointer;
}
#modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-preview-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal-preview-inner {
    position: relative;
    max-width: 100vh;
    max-height: 100vh;
    display: flex;
    /* padding: 10px; */
    background: #fff;
    justify-content: center;
    align-items: center;
}
#modal-preview-img-outer {
    width: 100%;
    height: 100%;
}
#modal-preview-img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    /* padding: 0 0 10px; */
}
.button-preview-close {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    background: #333;
    color: #fefefe;
    border: solid 2px #ccc;
    padding: 3px 5px; 
    margin: 10px;
}
.button-preview-close:hover {
    background: #eee;
    color: #000;
    cursor: pointer;
}
#image-manager-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
}
#image-manager-inner {
    padding: 0 10px;
}

#modal-inner-toast-warning {
    position: relative;
    border: solid 2px #aaa; 
    padding: 10px;
    display: flex;
    padding: 10px;
    background: #fff;
    justify-content: center;
    align-items: center;
}
.toast-warning-box {
    padding: 10px;
}
.toast-warning-message {
    padding: 0 0 10px;
    text-align: center;
}
.toast-warning-message p {
    margin: 0;
}
.select-box {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.button-yes {
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    color: var(--link-red);
}
.button-no {
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    color: var(--link-blue);
}
.button-yes:hover,
.button-no:hover {
   cursor: pointer; 
   background: #eee;
}
.section-menu {
    padding: 0 10px;
}
.menu-heading,
.section-heading {
    margin: 30px 0 20px;
}

.menu-heading::before {
   content: '■';
   font-size: .9em;
   color: #777;
   margin: 0 5px 0 0;
}
.menu-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}
.menu-list-item-outer {
    border: solid 1px #aaa;
    border-radius: 3px;
    padding: 20px;
}
.menu-list-item-inner {
    min-height: 200px;
}
.menu-list-item-heading {
    margin: 0 0 10px;
}
.menu-sub-list {
    margin: 0;
    padding: 0 0 0 20px;
}
.menu-sub-item {
    margin: 0;
    padding: 0;
}
.menu-sub-link {
    display: block;
    padding: 5px 0;
    font-size: 17px; 
    font-weight: bold;
    border-bottom: dotted 1px #aaa;
}
.match {
    color: #000;
    font-weight: bold;
}

#modal-search-results-outer {
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    min-height: calc(100vh + var(--nav-height) + var(--header-height));
    z-index: 1;
    background: rgba(0,0,0,0.5);
}
#modal-search-results-inner {
    position: relative;
    padding: 10px;
    background: #fff;
    margin: 10px;
}
.search-results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-close-search-results {
    padding: 10px;
}
.button-close-search-results:hover {
    cursor: pointer;
}
#search-input-outer {
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 3px;
    height: 32px;
    padding: 2px;
}
#search-input {
    display: block;
    z-index: 2;
    box-sizing: border-box;
    height: 28px;
    font-size: 17px; 
    border: 0;
    padding: 0;
}
#search-input:focus {
    outline: none;
}
#search-input::placeholder {
    color: #999;
}
.tag-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tag-item {
    margin: 0 10px 0 0;
    color: #333;
}
.tag-item::before {
    content: '#';
}

@media only screen and (min-width: 415px) {
    .menu-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    #image-selector-contents {
        width: 90%;
        height: 90%;
        padding: 10px 20px;
    }
    .image-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .image-item-box {
        width: 200px;
        height: 150px;
    }
    .button-preview-close {
        position: absolute;
    }
    .content-body-new,
    .content-body {
        font-size: 17px;
    }
}
@media only screen and (min-width: 750px) {
    .sp-none {
        display: inline-block;
    }
    .main-contents,
    .editable {
        position: relative;
        padding: 20px;
        border: 1px solid #ccc;
    }
    .save_isNotActive,
    .save_isActive {
        /* position: absolute; */
        /* position: relative; */
        /* bottom: 0; */
        /* left: auto; */
        /* right: 0; */
        /* margin: 0 0 0 auto; */
    }
}
@media only screen and (min-width: 1080px) {
    #wrapper {
        width: 54em;
    }
    .main-contents,
    .editable {
        width: auto;
    }
}
