:root {
    --my-background: #f9f5e5;
    --hobo-white: #fefefa;
    --brackgray: #4a4a56;
    --gray: #ccc;
    --gray2: #eee;
    --link-blue: #004ad2;
    --link-red:  #b22222;
    --nav-height: 50px;
    --contents-width-s: 48em;
    --contents-width-m: 54em;
    --contents-width-l: 55em;
    --font-sans-serif: -apple-system,Helvetica Neue,'Hiragino Kaku Gothic ProN','Noto Sans CJK JP',Meiryo,sans-serif;
    --font-serif: 'Hiragino Mincho ProN', 'Noto Serif CJK JP',serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Hiragino Kaku Gothic ProN',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--hobo-white);
}

a {
    color: var(--link-blue);
}
a:hover {
    color: var(--link-red);
}

code {
    font-family: Monaco, source-code-pro, Menlo,  Consolas, 'Courier New',
    monospace;
}
#nav {
    display: flex;
    height: var(--nav-height);
    padding: 0;
    margin: 0 0 20px;
    align-items: center;
    overflow: auto;
    background: #555;
}
#nav-left {
    display: flex;
    align-items: center;
}
#nav-right {
    margin: 0 0 0 auto;
    font-size: .7em;
    align-items: center;
}
.nav-item-link {
    display: flex;
    align-items: center;
    height: var(--nav-height);
    margin: 0 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.edit-new {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    height: 40px;
    width: 40px;
}
.edit-new-link {
    display: flex;
    padding: 0;
    color: #fff;
    background: green;
    opacity: .8;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.login-button {
    margin: 0 10px;
    padding: 5px;
    background: #eee;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 50px;
    text-align: left;
}

main {
    background: var(--hobo-white);
}    
.fixed-content {
    padding: 0 10px;
}
/* editor */
.editable {
    margin: 0 auto 20px;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.info {
    margin: 0 10px;
}
.save {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    height: 40px;
    box-sizing: border-box;
    display: block;
    color: #333;
    background: #eee;
    opacity: .8;
    font-size: 18px;
    font-weight: bold;
}
button {
    border: solid 1px #aaa;
    border-radius: 3px;
}
button:hover {
    cursor: pointer;
}
.delete-button {
    display: block;
    color: #f00; 
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px 0 auto;
    white-space: nowrap;
}
.related-contents {
    margin: 20px 0;
    padding: 0 10px;
}
.related-heading {
    display: flex;
    align-items: center;
    margin: 0;
}
.related-heading-link {
    display: block;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    text-decoration: none;
}
.related-heading-link::before {
    content: '#';
    font-size: 16px;
    color: #555;
    margin: 0 5px 0 0;
}
.related-heading-link:hover {
    padding-left: 1px; 
}
.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.item-arrow,
.item {
    display: flex;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.item-arrow::before {
    content: '↳';
    font-size: 19px;
    font-family: system-ui;
    font-weight: bold;
    color: #555;
    padding: 5px 0 0;
}
.item-link {
    display: block;
    text-decoration: none;
    padding: 10px 5px 5px;
    width: 100%;
}
.item-arrow:hover,
.item:hover {
    padding-left: 1px; 
}
.item-title {
    font-weight: bold; 
}
.item-updated_at {
    font-size: 14px;
    color: #333;
}
.item-dscr {
    font-size: 15px;
    color: #555;
    min-height: 1em;
}
.content-title {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    line-height: 1.7;
    white-space: pre-wrap;
}
.content-tags {
    position: relative;
    padding: 5px 5px 5px 11px;
    box-sizing: border-box;
    line-height: 1.5;
    white-space: pre-wrap;
}
.content-tags::before {
    position: absolute;
    content: '[';
    left: 3px;
}
.content-tags::after {
    content: ']';
    margin: 0 0 0 3px;
}
.content-body {
    padding: 5px;
    box-sizing: border-box;
    line-height: 1.6;
    white-space: pre-wrap;
    font-family: serif;
}
.content-title:focus,
.content-tags:focus,
.content-body:focus {
    outline: 1px solid #eee;
}
.tags {
    margin: 0 10px 0 0;
}

.message {
    margin: 0 10px 0 0;
    color: green; 
}


[contentEditable=true]:empty:not(:focus)::before {
    content:attr(data-text);
    color: #bbb;
    font-family: sans-serif;
}
[contentEditable=true]:empty:not(:focus)::after {
    content:none;
}

table {
    border-collapse: collapse;
}

.edit-table {
    width: 100%;
}
.edit-tr {
    border-bottom: 1px solid #ccc;
}
.edit-td {
}

@media only screen and (min-width: 750px) {
    .editable {
        padding: 20px;
        border: 1px solid #ccc;
    }
    .save {
        position: relative;
    }
}
@media only screen and (min-width: 1080px) {
    #wrapper {
        width: 54em;
    }
    .editable {
        width: auto;
    }
}
