:root {
    --my-background: #f9f5e5;
    --hobo-white: #fefefa;
    --brackgray: #4a4a56;
    --gray: #ccc;
    --gray2: #eee;
    --link-blue: #004ad2;
    --link-red:  #b22222;
    --contents-width-s: 48em;
    --contents-width-m: 54em;
    --contents-width-l: 55em;
    --font-sans-serif: -apple-system,Helvetica Neue,'Hiragino Kaku Gothic ProN','Noto Sans CJK JP',Meiryo,sans-serif;
    --font-serif: 'Hiragino Mincho ProN', 'Noto Serif CJK JP',serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Hiragino Kaku Gothic ProN',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--hobo-white);
}

a {
    color: var(--link-blue);
}
a:hover {
    color: var(--link-red);
}

code {
    font-family: Monaco, source-code-pro, Menlo,  Consolas, 'Courier New',
    monospace;
}
#nav {
    display: flex;
    padding: 10px;
    margin: 0 0 20px;
}
#nav-left {
    display: flex;
}
#nav-left div {
    margin: 0 10px;
}
#nav-right {
    margin: 0 0 0 auto;
}
#wrapper {
    width: 100%;
    margin: 0 auto 20px;
    text-align: left;
}

main {
}    
/* editor */
.editable {
    margin: 0 auto 20px;
    padding: 20px;
    text-align: left;
    border: 1px solid #ccc;
}
.save {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}
.save:hover {
    cursor: pointer;
}

.related-contents {
    margin: 20px 0;
    padding: 0 10px;
}
.related-heading {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
}
.related-heading::before {
    content: '∞';
    font-size: 24px;
    color: #888;
    margin: 0 5px 0 0;
}

.item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.item {
    border-bottom: 1px solid #ccc;
}
.item-link {
    display: block;
    text-decoration: none;
    padding: 5px;
}
.item-title {
    font-weight: bold; 
}
.item-dscr {
    font-size: 15px;
    color: #555;
}
.content-title {
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    line-height: 1.7;
    white-space: pre-wrap;
}
.content-tags {
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 1.5;
    white-space: pre-wrap;
}
.content-tags::before {
    content: '[';
    margin: 0 3px 0 0;
}
.content-tags::after {
    content: ']';
    margin: 0 0 0 3px;
}
.content-body {
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.6;
    white-space: pre-wrap;
    font-family: serif;
}
.content-title:focus,
.content-tags:focus,
.content-body:focus {
    outline: 1px solid #eee;
}
.tags {
    margin: 0 10px 0 0;
}

.message {
    margin: 0 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

[contentEditable=true]:empty:not(:focus)::before {
    content:attr(data-text);
    color: #bbb;
    font-family: sans-serif;
}
[contentEditable=true]:empty:not(:focus)::after {
    content:none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media only screen and (min-width: 750px) {
}
@media only screen and (min-width: 1080px) {
    #wrapper {
        width: 54em;
    }
    .editable {
        width: auto;
    }
}
